body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-size: 80px;
    font-weight: 500;
}

/* 랜덤 색상 클래스 추가 */
.randomize span {
    color: #000;
    transition: color 0.3s ease-in-out;
}


h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}
#name {
    width: 800px;
    height: 48px;
    font-size: 18px;
    padding: 8px;
}
#name-input {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

#name-list {
    text-align: center;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin: 5px;
    background-color: #e0e0e0;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 16px;
    font-size: 1.2rem;
}

#order-btn {
    margin-top: 10px;
}

#result {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 10px;
}

/* Chips 스타일 */
.chip {
    display: inline-block;
    padding: 6px 12px;
    background-color: #007bff;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 16px;
    margin: 5px;
    padding-right: 10px;
    padding-left: 10px;
    
}


/* 추가 버튼 스타일 */
#add-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;

    border-radius: 0px 5px 5px 0px;

}

/* 순서 정하기 버튼 스타일 */
#order-btn {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 16px;
    border-radius: 16px;
}

/* 버튼 호버 효과 */
#add-btn:hover, #order-btn:hover {
    background-color: #0056b3;
}
/* 초기화 버튼 스타일 */
#reset-btn {
    background-color: #dc3545; /* 버튼의 배경색 */
    color: #fff; /* 버튼의 텍스트 색상 */
    border: none; /* 버튼의 테두리 없음 */
    padding: 12px 24px; /* 버튼의 패딩 */
    font-size: 18px; /* 버튼의 폰트 크기 */
    cursor: pointer; /* 커서 타입 - 포인터 */
    margin-top: 16px; /* 버튼의 상단 여백 */
    border-radius: 16px; /* 버튼의 테두리 반경 */
}

/* 초기화 버튼 호버 효과 */
#reset-btn:hover {
    background-color: #c82333; /* 버튼의 호버 배경색 */
}
